@import url('https://googleapis.com');
body{
  font-family: 'JetBrains Mono', monospace;
  color: #c0caf5;
  font-size: 16px;
  background-color: #0c0813;
}
a{
    color:#565f89;
}
* {
  box-sizing: border-box;
}
.text-black{
    color: #16161e;
}
.text-red{
    color: #f7768e;
}
.text-green{
    color: #9ece6a;
}
.text-yellow{
    color: #e0af68;
}
.text-blue{
    color: #7aa2f7;
}
.text-magenta{
    color: #bb9af7;
}
.text-cyan{
    color: #7dcfff;
}
.text-white{
    color: #a9b1d6;
}
.text-dark-grey{
    color: #565f89;
}
.text-bright-red{
    color: #ff9e3b;
}
.text-bright-green{
    color: #73daca;
}
.text-bright-yellow{
    color: #ffcc66;
}
.text-bright-blue{
    color: #89ddff;
}
.text-bright-magenta{
    color: #ff007f;
}
.text-bright-cyan{
    color: #b4f9f8;
}
.text-bright-white{
    color: #c0caf5;
}
.cursor{
  margin-left: 4px;
  animation: blink 1s step-start infinite;
}
@keyframes blink{
  50%{
    opacity: 0;
  }
}
.container{
    display: flex; 
    flex-direction: column; 
    width: 100vw; 
    height: 100vh; 
    box-sizing: border-box;
}
.name{
    font-weight: bold;
    font-size: 2.5rem;
    display: flex; 
    flex-direction: column; 
    height: auto; 
    padding: 10px; 
    box-sizing: border-box;
}
.pronouns{
    font-size: 1.25rem;
    display: flex; 
    flex-direction: column; 
    height: auto; 
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #AAAAAA;
    font-weight: normal;
}
.nav{
    border-bottom: 1px solid #555555;
    padding: 10px; 
    width: 100%; 
    height: 5%; 
    box-sizing: border-box;
}
.wrapper{
    display: flex; 
    width: 100%; 
    height: 95%; 
    box-sizing: border-box;
}
.logo{
    padding: 10px; 
    width: 40%; 
    height: 100%; 
    box-sizing: border-box;
}
.content{
    padding: 10px; 
    width: 60%; 
    height: 100%; 
    box-sizing: border-box;
}
.stats{
    display: flex; 
    flex-direction: column; 
    height: auto; 
    padding: 10px; 
    box-sizing: border-box;
}
.stats .stat{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.stats .value{
    display: flex; 
    flex-direction: row; 
    height: 100%; 
    width: 80%;
    padding: 10px; 
    box-sizing: border-box;
}
.stats .label{
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 30%; 
    padding: 10px; 
    box-sizing: border-box;
}
.stats .colon{
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 5%;
    padding: 10px; 
    box-sizing: border-box;
}
.stats .label-link{
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 30%; 
    padding: 10px; 
    box-sizing: border-box;
}
.about{
    display: flex; 
    flex-direction: column; 
    height: auto; 
    padding: 10px; 
    box-sizing: border-box;
}
.footer{
    padding: 10px; 
    width: 100%; 
    height: 5%; 
    box-sizing: border-box;
}