@import url('https://googleapis.com');
body {
  font-family: 'JetBrains Mono', monospace;
  color: #f8f8f2;
  font-size: 16px;
  background-color: #0c0813;
}
* {
  box-sizing: border-box;
}
.text-black {
    color: #1e1f29;
}
.text-red {
    color: #ff5555;
}
.text-green {
    color: #50fa7b;
}
.text-yellow {
    color: #f1fa8c;
}
.text-blue {
    color: #bd93f9;
}
.text-magenta {
    color: #ff79c6;
}
.text-cyan {
    color: #8be9fd;
}
.text-white {
    color: #f8f8f2;
}
.text-dark-grey {
    color: #6272a4;
}
.text-bright-red {
    color: #ff6e6e;
}
.text-bright-green {
    color: #69ff94;
}
.text-bright-yellow {
    color: #ffffa5;
}
.text-bright-blue {
    color: #d6b4fc;
}
.text-bright-magenta {
    color: #ff92df;
}
.text-bright-cyan {
    color: #a4ffff;
}
.text-bright-white {
    color: #ffffff;
}
.cursor {
  margin-left: 4px;
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.container{
    display: flex; 
    flex-direction: column; 
    width: 100vw; 
    height: 100vh; 
    box-sizing: border-box;
}
.name{
    font-weight: bold;
    font-size: 2.5rem;
    display: flex; 
    flex-direction: column; 
    height: auto; 
    padding: 10px; 
    box-sizing: border-box;
}
.pronouns{
    font-size: 1.25rem;
    display: flex; 
    flex-direction: column; 
    height: auto; 
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #AAAAAA;
    font-weight: normal;
}
.nav{
    border-bottom: 1px solid #555555;
    padding: 10px; 
    width: 100%; 
    height: 5%; 
    box-sizing: border-box;
}
.wrapper{
    display: flex; 
    width: 100%; 
    height: 95%; 
    box-sizing: border-box;
}
.logo{
    padding: 10px; 
    width: 40%; 
    height: 100%; 
    box-sizing: border-box;
}
.content{
    padding: 10px; 
    width: 60%; 
    height: 100%; 
    box-sizing: border-box;
}
.stats {
    display: flex; 
    flex-direction: column; 
    height: auto; 
    padding: 10px; 
    box-sizing: border-box;
}
.stats .stat {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.stats .value {
    display: flex; 
    flex-direction: row; 
    height: 100%; 
    width: 80%;
    padding: 10px; 
    box-sizing: border-box;
}
.stats .label {
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 15%; 
    padding: 10px; 
    box-sizing: border-box;
}
.stats .colon {
    display: flex; 
    flex-direction: row; 
    height: 100%;
    width: 5%; 
    padding: 10px; 
    box-sizing: border-box;
}
.links{
    display: flex; 
    flex-direction: column; 
    height: auto;
    padding: 10px; 
    box-sizing: border-box;
}
.about{
    display: flex; 
    flex-direction: column; 
    height: auto; 
    padding: 10px; 
    box-sizing: border-box;
}
.footer{
    padding: 10px; 
    width: 100%; 
    height: 5%; 
    box-sizing: border-box;
}